{extend name="base"}
{block name="body"}
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so layui-form-pane">
          <input class="layui-input" value="" placeholder="分类名" name="name">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon"></i>增加</button>
        </form>
      </div>
      <xblock>
        <span class="x-right" style="line-height:40px">共有数据 : {$length}条</span>
      </xblock>
      <table class="layui-table layui-form">
        <thead>
          <tr>
            <th width="20">
            </th>
            <th width="70">ID</th>
            <th>栏目名</th>
            <th width="50">排序</th>
            <th width="50">状态</th>
            <th width="220">操作</th>
        </thead>
        <tbody class="x-cate">
          {foreach $type as $val}
          <tr cate-id='{$val.id}' fid='{$val.pid}' >
            <td>
            </td>
            <td>{$val.id}</td>
            <td>
              {$val.path|substr_count=","|str_repeat="&nbsp;&nbsp;&nbsp;&nbsp;",###}
              {if(in_array($val.id,$pidarr))}
              <i class="layui-icon x-show" status='true'>&#xe623;</i>
              {else}
              <i class="layui-icon x-show" status='true'>|--</i>
              {/if}
              {$val.name}
            </td>
            <td><input type="text" class="layui-input x-sort" name="order" value="1"></td>
            <td>
              {if($val.state==1)}
              <input type="checkbox" name="switch" id="{$val.id}" lay-text="开启|停用"  checked="member_stop()" lay-filter="switchTest" lay-skin="switch">
              {else}
              <input type="checkbox" name="switch" id="{$val.id}" lay-text="开启|停用" lay-filter="switchTest" lay-skin="switch">
              {/if}
            </td>
            <td class="td-manage">
              <button class="layui-btn layui-btn layui-btn-xs"  onclick="x_admin_show('编辑','admin-edit.html')" ><i class="layui-icon">&#xe642;</i>编辑</button>
              <button class="layui-btn layui-btn-warm layui-btn-xs"  onclick="x_admin_show('编辑','admin-add.html')" ><i class="layui-icon">&#xe642;</i>添加子栏目</button>
              <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="member_del(this,'{$val.id}')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
            </td>
          </tr>
          {/foreach}
        </tbody>
      </table>
    </div>
    <style type="text/css">
      
    </style>
    <script>
      layui.use(['form'], function(){
        form = layui.form;
        form.on('switch(switchTest)', function(data){
          console.log(data.elem.id);
          $id=data.elem.id
          console.log(this.checked ? '1' : '0');
          $state=this.checked ? '1' : '0'
          $.ajax({
              type:'get'
              ,url:"{:url('admin/type/update')}"
              ,async:true
              ,data:{id:$id,state:$state}
              ,dataType:'text'
              ,success:function(data){
                                  
              }
              ,error:function(){
                  
              }
          })

            // layer.msg(this.checked ? '1' : '0', {
            //   offset: '6px'
            // });
            // layer.tips('温馨提示', data.othis)
          });   
      });

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗?',function(index){
              $.ajax({
                type:'get'
                ,url:"{:url('admin/type/delete')}"
                ,async:true
                ,data:{id,id}
                ,dataType:'json'
                ,success:function(data){
                      $(obj).parents("tr").remove();
                      layer.msg('已删除!',{icon:1,time:1000});               
                }
                ,error:function(){
                    alert('该分类有子类,无法删除')
                }
              })
          });
      }

      function member_stop(obj,id){
               layer.confirm('确认要更改吗？',function(index){

                   if($(obj).attr('title')=='停用'){
                    $.get("{:url('/admin/user/update')}",{id:id,state:0})
                     //发异步把用户状态进行更改
                     $(obj).attr('title','启用')
                     $(obj).find('i').html('&#xe62f;');

                     $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                     layer.msg('已停用!',{icon: 5,time:1000});

                   }else{
                    $.get("{:url('/admin/user/update')}",{id:id,state:1})
                     $(obj).attr('title','停用')
                     $(obj).find('i').html('&#xe601;');

                     $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                     layer.msg('已启用!',{icon: 6,time:1000});
                   }
                   
               });
           }
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
{/block}