{extend name="base"}
{block name="body"}
        <div class="x-body">
            <form class="layui-form" enctype="multipart/form-data">
                <div class="layui-form-item">
                    <textarea name="reply" id="reply" cols="45" rows="10"></textarea>
                </div>
                <input type="hidden" name="id" value="{$_GET['id']}" >
                <input type="hidden" name="aid" value="{$_SESSION['think']['admin_user']['id']}">
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="">
                        回复
                    </button>
                </div>
            </form>
        </div>
        <script src="__STATIC__/admin/lib/layui/layui.js" charset="utf-8">
        </script>
        <script src="__STATIC__/admin/js/x-layui.js" charset="utf-8">
        </script>   
        <script>
        layui.use(['form','layer'], function(){
               $ = layui.jquery;
              var form = layui.form
              ,layer = layui.layer;

              //监听提交
              form.on('submit(add)', function(data){
                
                $.ajax({
                    type:'post'
                    ,url:"{:url('/admin/comment/update')}"
                    ,data:$('form').serialize()
                    ,dataType:'text'
                    ,success:function(data)
                        {
                          layer.alert("回复成功", {icon: 6},function () {
                              // 获得frame索引
                              var index = parent.layer.getFrameIndex(window.name);
                              //关闭当前frame
                              parent.layer.close(index);
                            });
                        
                        }
                    ,error:function()
                        {
                          alert('回复失败')
                        }

                    });
                    return false;
              });
            });

        </script>
        <script>
        var _hmt = _hmt || [];(function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
{/block}